html[data-bs-theme="dark"] {
  code[class*="language-"],
  pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: #eee;
    background: #2f2f2f;
    font-family:
      Roboto Mono,
      monospace;
    font-size: 1em;
    line-height: 1.5em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  code[class*="language-"]::-moz-selection,
  pre[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection,
  pre[class*="language-"] ::-moz-selection {
    background: #363636;
  }
  code[class*="language-"]::selection,
  pre[class*="language-"]::selection,
  code[class*="language-"] ::selection,
  pre[class*="language-"] ::selection {
    background: #363636;
  }
  :not(pre) {
    & > code[class*="language-"] {
      white-space: normal;
      border-radius: 0.2em;
      padding: 0.1em;
    }
  }
  pre[class*="language-"] {
    overflow: auto;
    position: relative;
    margin: 0.5em 0;
    padding: 1.25em 1em;
  }
  .language-css > code,
  .language-sass > code,
  .language-scss > code {
    color: #fd9170;
  }
  [class*="language-"] {
    .namespace {
      opacity: 0.7;
    }
  }
  .token {
    &.atrule {
      color: #c792ea;
    }
    &.attr-name {
      color: #ffcb6b;
    }
    &.attr-value {
      color: #a5e844;
    }
    &.attribute {
      color: #a5e844;
    }
    &.boolean {
      color: #c792ea;
    }
    &.builtin {
      color: #ffcb6b;
    }
    &.cdata {
      color: #80cbc4;
    }
    &.char {
      color: #80cbc4;
    }
    &.class {
      color: #ffcb6b;
    }
    &.class-name {
      color: #f2ff00;
    }
    &.comment {
      color: #616161;
    }
    &.constant {
      color: #c792ea;
    }
    &.deleted {
      color: #ff6666;
    }
    &.doctype {
      color: #616161;
    }
    &.entity {
      color: #ff6666;
    }
    &.function {
      color: #c792ea;
    }
    &.hexcode {
      color: #f2ff00;
    }
    &.id {
      color: #c792ea;
      font-weight: bold;
    }
    &.important {
      color: #c792ea;
      font-weight: bold;
    }
    &.inserted {
      color: #80cbc4;
    }
    &.keyword {
      color: #c792ea;
    }
    &.number {
      color: #fd9170;
    }
    &.operator {
      color: #89ddff;
    }
    &.prolog {
      color: #616161;
    }
    &.property {
      color: #80cbc4;
    }
    &.pseudo-class {
      color: #a5e844;
    }
    &.pseudo-element {
      color: #a5e844;
    }
    &.punctuation {
      color: #89ddff;
    }
    &.regex {
      color: #f2ff00;
    }
    &.selector {
      color: #ff6666;
    }
    &.string {
      color: #a5e844;
    }
    &.symbol {
      color: #c792ea;
    }
    &.tag {
      color: #ff6666;
    }
    &.unit {
      color: #fd9170;
    }
    &.url {
      color: #ff6666;
    }
    &.variable {
      color: #ff6666;
    }
  }
}
