.heading {
  &.heading-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading-heading {
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 80%;
      }
    }
    .heading-description {
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 80%;
      }
    }
  }
  .heading-heading {
    h1 {
      font-size: 1.44em; // 26px / 18px - mobile
      letter-spacing: 0.385em; // 10px / 26px
      line-height: 1;
      font-weight: 100;
      font-family: var(--font-family-heading);
      @include media-breakpoint-up(md) {
        font-size: 2.56em; // 46px / 18px
        line-height: 1;
        letter-spacing: 0.217em; // 10px / 46px
      }
      strong {
        font-style: normal;
        text-decoration-line: underline;
        text-decoration-color: var(--color-primary-bg);
      }
    }
  }
  .heading-description {
    p {
      font-size: 1.22em; // 22px / 18px - mobile
      letter-spacing: -0.045em; // -1px / 22px
      line-height: 1.24;
      font-family: var(--font-family-base);
      color: var(--color-base-text-2);
      @include media-breakpoint-up(md) {
        font-size: 1.44em; // 26px / 18px
        letter-spacing: 0.038em; // 1px / 26px
        line-height: 1.4;
      }
    }
  }
  .heading-heading + .heading-description {
    margin-top: 1.11em; // 20px / 18px
    @include media-breakpoint-up(md) {
      margin-top: 1.67em; // 30px / 18px
    }
  }
  .heading-badge {
    font-family: var(--font-family-monospace);
    color: var(--color-primary-bg);
  }
  .heading-image {
    margin-top: 30px;
    img {
      max-width: 100%;
    }
  }
}
